
/* All the content + margin are in the body */
body {
  background-color: #F7B775;
  color: #1B1B1B;
  width: 100%;
  font-size: 14px;
}

/* All the content is in the main container */
.main-container {
  width: 52%;
  margin-left:auto;
  margin-right:auto;
  border-width: 3px;
  border-style: solid;
  border-color: #ADD8E6;
  background-color: #F8F8FF;
}

header {
  text-align: center;
}

nav {
  border-bottom-style: solid;
  border-bottom-color: #ADD8E6;
}

.nav-images {
  padding-bottom: 13px;
}

.nav-menu {
  background-color: #E4F4F8;
}

h3 {
  color: #282828;
  background-color: #ADD8E6;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 5px;
  padding-bottom: 3px;
  border-style: solid;
  border-color: #ADD8E6;
}

section {
  margin-bottom: 30px;
}

section h3 {
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
  width: 82%;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

th {
  border-width: 2px;
  border-style: solid;
  border-color: #4ED3F7;
  background-color: #ADD8E6;
  color: #3E3832;
}

td {
  border-width: 2px;
  border-style: solid;
  border-color: #4ED3F7;
  background-color: #E4F4F8;
  padding: 15px;
  color: #282828;
}

p {
  text-align: justify;
  padding-left: 4%;
  padding-right: 4%;
}

td a {
  font-weight: bold;
  font-style: oblique;
  font-family: Arial;
}

a:link {
  color: #F38C20;
}

a:visited {
  color: #F68F24;
}

a:hover {
  color: #3D85C6;
}

a:active {
  color: #3D85C6;
  text-decoration: none;
}

ul {
  margin-left: 4%;
  margin-top: 6px;
  margin-bottom: 8px;
}

ul ul {
  margin-left: 0.5%;
}

ul li {
  padding-left: 5px;
  padding-bottom: 2px;
}

ul ul li {
  list-style-type: square;
}

.align-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

/* Inspired from the official Master Info header CSS */
a.header-univmed {

	display:inline-block;
	position: relative;
  width: 270px;
  height: 84px;
	background-image: url(img/logo-sciences.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white;
	}

/* Inspired from the official Master Info header CSS */
a.header-masterinfo {
	display:inline-block;
	position: relative;
  width: 237px;
  height: 84px;
	background-image: url(img/header-masterinfo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white;
	}

/* Inspired from the official Master Info header CSS */
a.header-univprov {
	display:inline-block;
	position: relative;
  height: 84px;
  width: 270px;
	background-image: url(img/AMU.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white;
	}

